---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
# {{ site.url }}/robots.txt
{% if site.allowIndexing -%}
User-agent: *
Allow: /

# Redirect stub. The canonical homepage is /
Disallow: /about.html

Sitemap: {{ site.url }}{{ '/sitemap.xml' | url }}
{%- else -%}
# This site is not ready to be public and must not be indexed.
# Set ALLOW_INDEXING=true at build time to open it up.
User-agent: *
Disallow: /
{%- endif %}
